.header {
	background-color: #000000;
	background-image: url(/assets/images/jumbotron.jpg);
	display:block;
	width: 100%;
	min-height:400px;
	text-align: center;

}

h1 {
	color:#FFFFFF;
	margin-top: 100px;
	margin-left:600px;
}

h2 {
	color: #FFFFFF;
	margin-left:600px;
}